/* Constants for use in this portfolio project. Represents shared UI
properties across all possible pages */

:root {
  --defaultFont: Muli-Medium;
  --boldFont: Muli-Bold;
  --codeFont: Inconsolata-Medium;
  --defaultBGColor: whitesmoke;
  --motifColor: #2693ff;
  --motifColorActive: #025ebb;
}

.blue-bg {
  background: #0d66ff;
}

.green-bg {
  background: #008622;
}

.red-bg {
  background: #d10000;
}

.yellow-bg {
  background: #fad503;
  color: black;
}

@font-face {
  font-family: Inconsolata-Medium;
  src: url("./assets/font/Inconsolata-Medium.ttf") format("truetype");
}

@font-face {
  font-family: Muli-Medium;
  src: url("./assets/font/Muli-Medium.ttf") format("truetype");
}

@font-face {
  font-family: Muli-Bold;
  font-weight: bold;
  src: url("./assets/font/Muli-Bold.ttf") format("truetype");
}
