body {
  font-family: var(--defaultFont);
  margin: 0;
}

#BlinkingText {
  float: right;
}

.CTAButtonContainer {
  clear: left;
}

.DescText {
  margin-top: 0;
  float: left;
  font-size: 2.5em;
}

.HeroContainer {
  background: var(--defaultBGColor);
  width: 100%;
  height: 95vh;
  display: flex;
}

.HeroLeft {
  width: 60%;
  margin: 0 3em 0 3em;
}

.HeroRight {
  display: inherit;
  width: 40%;
  background: linear-gradient(
    45deg,
    rgba(175, 58, 180, 1),
    rgba(255, 90, 90, 1),
    rgba(252, 176, 69, 1)
  );
  justify-content: center;
  align-items: center;
}

.IconButton {
  border-radius: 50%;
  padding: 4em;
  width: 1.8em;
  float: left;
  background-color: grey;
  border: none;
}

.LearnMoreButton {
  border: none;
  margin-top: 2.5em;
  font-family: var(--boldFont);
  background: var(--motifColor);
  border-radius: 50px;
  width: 18%;
  line-height: 50px;
  font-size: 24px;
  color: white;
  box-shadow: 0 0 40px hsl(209, 100%, 77%);
  position: absolute;
}

.LearnMoreButton:hover {
  background: var(--motifColorActive);
  cursor: pointer;
}

.LinksContainer {
  float: left;
  display: flex;
  justify-content: space-between;
  width: 35%;
}

#LogoButton:hover {
  filter: brightness(120%);
}

.NameHeader {
  font: 5.5em var(--boldFont);
  margin-bottom: 0;
}

.NavbarWrap {
  width: 100%;
  background-color: rgb(59, 59, 59);
  padding: 0.5em 0 0.5em 2em;
  box-sizing: border-box;
}

.PortfolioLinks {
  font: 1.2em var(--boldFont);
  text-decoration: none;
  color: var(--motifColor);
}

.PortfolioLinks:hover {
  color: var(--motifColorActive);
}

.PortraitImage {
  max-width: 85%;
  max-height: 85%;
}

.ProjectsContainer {
  background: rgb(212, 212, 212);
  background: linear-gradient(
    0deg,
    rgb(187, 187, 187) 0%,
    rgba(255, 255, 255, 1) 100%
  );
  height: 100vh;
  width: 100%;
  border-top: 5px solid black;
}

.ProjectsHeader {
  font: 3em var(--boldFont);
  text-align: center;
}

.Subtitle {
  font: 2.7em var(--codeFont);
  margin-top: 0;
  color: grey;
  float: left;
}
