@font-face {
  font-family: Muli-Medium;
  src: url("./assets/font/Muli-Medium.ttf") format("truetype");
}

@font-face {
  font-family: Muli-Bold;
  font-weight: bold;
  src: url("./assets/font/Muli-Bold.ttf") format("truetype");
}

body {
  font-family: Muli-Medium;
  margin: 0;
}

h1 {
  font-family: Muli-Bold;
  font-size: 5em;
}

p {
  font-size: 2em;
}

.navbarWrap {
  width: 100%;
  background-color: rgb(59, 59, 59);
  padding: 0.5em 0 0.5em 2em;
  box-sizing: border-box;
}

#logoButton:hover {
  filter: brightness(110%);
}

.HeroContainer {
  width: 100%;
  height: 95vh;
  display: flex;
}

.HeroLeft {
  width: 60%;
  margin: 0 3em 0 3em;
}

.HeroRight {
  display: inherit;
  width: 40%;
  background: grey;
  justify-content: center;
  align-items: center;
}

#fact-container {
  margin-top: 20px;
}
